.download {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.download img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.download h1 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}

.download p {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.download a {
    display: block;
    background-color: #fff;
    color: #121219;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}